# Tree Models
### Author: Jainam Mehta

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data preparation

1. Split up amenities column
2. Dummify superhost, and amenities
3.

In [4]:
airbnb = pd.read_csv("Data/listings-cleaned.csv")
airbnb.head()

,id,hos2_is_superhos2,host_listings_count,neighbourhood_cleansed,neighbourhood_group_cleansed,city,zipcode,property_type,room_type,accommodates,...,maximum_nights_avg_ntm,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,2595,1.0,6.0,Midtown,Manhattan,New York,10018,Apartment,Entire home/apt,1,...,1125.0,48,7,94.0,9.0,9.0,10.0,10.0,10.0,9.0
1,3831,1.0,1.0,Clinton Hill,Brooklyn,Brooklyn,11238,Guest suite,Entire home/apt,3,...,730.0,295,75,90.0,9.0,9.0,10.0,9.0,10.0,9.0
2,5099,1.0,1.0,Murray Hill,Manhattan,New York,10016,Apartment,Entire home/apt,2,...,21.0,78,8,90.0,10.0,9.0,10.0,10.0,10.0,9.0
3,5121,1.0,1.0,Bedford-Stuyvesant,Brooklyn,Brooklyn,11216,Apartment,Private room,2,...,730.0,49,0,90.0,8.0,8.0,10.0,10.0,9.0,9.0
4,5178,1.0,1.0,Hell's Kitchen,Manhattan,New York,10019,Apartment,Private room,2,...,14.0,454,47,84.0,9.0,7.0,9.0,9.0,10.0,8.0

## Data exploration

In [10]:
price = airbnb['price']

In [11]:
price.length()

AttributeError: 'Series' object has no attribute 'length'

In [ ]:

for i in price.length()
price.head()

## Modeling

1. Latent class
2. Random forest

## Assumptions:

1. Use daily prices, as this is the most complete